# Rename this file to "config" to make it active

[apis]

# if true, blocks all writing behavior
read_only = true

# the full path to where a local treenexus.git can be found
#repo_path   = /Users/jima/projects/nescent/opentree/treenexus_test
# NOTE that we need to segregate docstore repos from project code!
repo_path   = /Users/jima/projects/nescent/opentree/docstore/phylesystem-0
repo_parent   = /Users/jima/projects/nescent/opentree/docstore

# local paths for minor repos
collections_repo_path   = /Users/jima/projects/nescent/opentree/docstore/collections-0
collections_repo_parent = /Users/jima/projects/nescent/opentree/docstore
amendments_repo_path   = /Users/jima/projects/nescent/opentree/docstore/amendments-0
amendments_repo_parent = /Users/jima/projects/nescent/opentree/docstore
following_repo_path     = /Users/jima/projects/nescent/opentree/docstore/following-0
following_repo_parent   = /Users/jima/projects/nescent/opentree/docstore

# the remote to push changes to
# This will usually be "origin" on a local dev machine where treenexus.git
# was cloned via SSH (git@github.com:...)
# On deployed servers, which use anonymous git:// protocol, we add a new
# remote "originssh" which can be pushed to
repo_remote = originssh

# remotes for minor repos
collections_repo_remote = originssh
amendments_repo_remote = originssh
following_repo_remote   = originssh

# these allow us to specify the SSH keys that git pushes
# will use. Leave the config keys in this config file,
# without any values assigned, to not use this feature
git_ssh     = /Users/jima/projects/nescent/opentree/api.opentreeoflife.org/bin/git.sh
pkey        = /Users/jima/.ssh/opentree/opentreeapi-gh.pem

# Settings for a registered app on GitHub, for example on devtree:
# <https://github.com/settings/apps/open-tree-curation-tool-dev>
github_app_id = 58654
github_client_id = Iv1.fd0b03dad89fc10c
github_redirect_uri = https://devtree.opentreeoflife.org/curator/user/login
# DON'T INCLUDE 'github_client_secret' value here. For better security, this is
# loaded from a separate file and added to config data on-the-fly.
#
# github_app_installation_id can be found from the installing organization's page, e.g.
# <https://github.com/organizations/OpenTreeOfLife/settings/installations>
# (the installation ID is in the URL of the Configure button here)
github_app_installation_id = 7917657

# old school values (no longer used)
##oti_host    = localhost
##oti_port    = 7478

# new-style values (typical)
oti_base_url = http://devapi.opentreeoflife.org/oti/v1
collections_api_base_url = http://devapi.opentreeoflife.org/
favorites_api_base_url = http://devapi.opentreeoflife.org/v2
opentree_docstore_url = https://github.com/OpenTreeOfLife/phylesystem-0
amendments_api_base_url = http://devapi.opentreeoflife.org/v3
illustrations_api_base_url = http://devapi.opentreeoflife.org/
 
# URLs for minor repos
collections_repo_url = https://github.com/OpenTreeOfLife/collections-0
amendments_repo_url  = https://github.com/OpenTreeOfLife/amendments-0
following_repo_url   = https://github.com/OpenTreeOfLife/following-0

[host]
apihost = http://ashby.csail.mit.edu/api
