pyramid==2.0
pipdeptree==2.0.0
## The following requirements were added by pip freeze:
hupper==1.10.3
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.4.0
