pyramid==2.0
pyramid_beaker
pipdeptree
cookiecutter
markdown
mdx_linkify
bleach
simplejson
anyjson
sh
PyGithub>=1.19.0
nose>=1.2.1
configparser
# TODO: Update peyotl branch name as needed!
git+https://git@github.com/OpenTreeOfLife/peyotl.git@master#egg=peyotl
