{% extends "layout.jinja2" %}

{% block content %}
  <h1>phylesystem API</h1>
  <p class="lead">
      Welcome to the phylesystem API server! This API is used to explore and modify
      studies and trees in the
      <a href="https://github.com/OpenTreeOfLife/phylesystem"
         target="_blank">phylesystem repository on
      GitHub</a>, as well as smaller documents like tree collections and
      taxonomic annotations.
  </p>
  <p>
      The phylesystem API is
      <a href="https://github.com/OpenTreeOfLife/phylesystem-api/tree/master/docs" target="_blank">documented here</a>,
      with helpful examples. There's also
      <a href="https://github.com/OpenTreeOfLife/germinator/wiki/Open-Tree-of-Life-Web-APIs" target="_blank">a more complete reference to all OpenTree APIs</a> beyond the phylesystem.
  </p>
{% endblock content %}
