# Rename this file to "config" to make it active

[apis]
# Provide client ID and client secret for a registered Github app (API
# consumer). We'll use this in lieu of an OAuth token for requests from
# non-authenticated users, eg, anonymous reviewers of OTOL studies.
github_client_id = YOUR_CLIENT_ID_HERE
github_client_secret = YOUR_CLIENT_SECRET_HERE
# These values can be obtained by registering your instance as an
# application with GitHub, at https://github.com/settings/applications/new

# the full path to where a local treenexus.git can be found
repo_path   = REPO_PATH

# the remote to push changes to
repo_remote = REPO_REMOTE

# these allow us to specify the SSH keys that git pushes
# will use. Leave the config keys in this config file,
# without any values assigned, to not use this feature
git_ssh     = GIT_SSH
pkey        = PKEY

oti_host    = localhost
oti_port    = 7474
